.node{padding-top:0px;}
div.shareaholic-show-on-load{height:32px !important;}div.shr-bookmarks{margin-top:0px !important;}div.shr-bookmarks ul li{width:33% !important;text-align:center !important;}
#block-fbconnect-fbconnect-login .content{color:transparent;}#block-fbconnect-fbconnect-login .content h3{float:left;margin-right:5px;color:#494949;}#block-fbconnect-fbconnect-login .content a{float:left;margin-right:5px;}.page-user-register #login-header{display:none;}
.node-readmore ~ .comment-add{display:none !important;}
.field-name-field-rsvp .field-items{font-weight:bold;font-size:130%;}
.feed-icon:not([href="/rss.xml"]){display:none;}
#block-system-navigation{float:left !important;}#block-system-navigation.clearfix:after{clear:left !important;}#block-system-navigation + div{float:right !important;}
